.middle {
    margin-top: 5%;
}

.custom-font {
    font-family: 'Fasthand', cursive;
}


.block {
    display: block;
}

.recipe-card {
  margin: 30px ; 
  font-size: 20px;
  width: 20%;
}

.recipe-card a {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

#result {

    display: flex;
    flex-wrap: wrap;
}

a {
    display: block;
    margin: 5px;
}

img {
    width: 100%;
    border: 10px solid pink;
    border-radius: 20px;
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    font-size: 24px;
}

.image-container {

    position: relative;

}

.favorite-icon:hover {
    cursor: pointer;
}


#fav-food {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 20px;
}

#btn-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}


#description {
    margin: 40px;
    text-align: justify;
}



#instruction {
    margin: 40px;
    text-align: justify;
}


#hero-image {
    position: relative;
}

#hero-image div {
    position: absolute;
    left: 40px;   
    top: 20px;
    color: white;
    font-family: 'Fasthand', cursive;
}

#hero-image h1 {
    font-size: 100px;
    line-height: 75%;
}

#hero-image h2 {
    font-size: 65px;
}

@media screen and (max-width: 700px) {
    #hero-image h1 {
        font-size: 70px;
    }
    #hero-image h2 {
        display: none;
    }
}